<div class="events-list">
	<ul class="event-list">
	<!-- ko foreach: events -->
		<li>
			<a href="#" class="thumbnail" data-bind="click: switchToEvent">
				<h3 data-bind="text: name"></h3>
				<p data-bind="text: description"></p>
			</a>
		</li>
	<!-- /ko -->
	</ul>
</div>

<div class="event-container border-panel">
	<h3 data-bind="text: event().name">Python Seminar</h3>
	<!--
<div style="float:left; border: 1px solid lightblue;border-radius:4px;">
	<p>Потвърдиха</p>
</div>
-->
	<p></p>
	<div style="float:right;border: 1px solid lightblue; border-radius:5px">
        <p style="font-weight:bold;font-size:20px">Потвърдиха</p>
        <img src="style/thumbsup.png" style="width:45px; height:45px;float:left"/>
        <p id="countAppr"style="font-weight:bold;font-size:40px;float:none">0</p>
	</div>
	<p style="font-weight:bold; font-size:15px">
	Кога: <span data-bind="text: pad(event().date().getDate()) + '.' + pad(event().date().getMonth() + 1) + ' ' + pad(event().date().getHours()) + ':' + pad(event().date().getMinutes())">12.12 17:00</span>
	</p>
	<div>
	<p style="font-weight:bold; font-size:15px">Повече:</p>
	<p style="word-wrap: break-word;font-size:15px" data-bind="text: event().description"> Python е
модерен обектно-ориентиран скриптов език с прост синтаксис и мощни
изразни средства. В последните години в софтуерната индустрия все по-
често се ползват интерпретируеми езици за да се осигури по-висока скорост
на разработка и...</p>
	</div>
	<!-- ko if: event().tags().length > 0 -->
	<p style="font-weight:bold; font-size:15px">Тагове</p>
    <div data-bind="foreach: event().tags">
		<span class="badge badge-info" data-bind="text: $data"></span>
	</div>
	<!-- /ko -->
    <div style="margin-top:20px">
	<button class="btn btn-primary" onclick="document.getElementById('countAppr').innerHTML = 1" >Потвърди</button>
    </div>
</div>
<div class="event-container border-panel" style="margin-top:20px">
    <h4>Коментари</h4>
    <div class="comments" style="margin:5px; padding:15px">

    	<!-- ko foreach: comments -->
        <div class="comments_content" style="padding-bottom: 30px; margin-bottom:20px;">
        <div class="avatars" style="float:left;">
            <img data-bind="attr: {'src': avatarLink(author_id)}" style="width: 100px;height: 100px;"/>
            <br />
            <span style="font-weight:bold;" data-bind="text: author"></span>
        </div>
        <p style="float:left;" data-bind="text: content"></p>
        <div style="clear: both;"></div>
        </div>
        <!-- /ko -->

        <div class="comment-add">
        	<!-- ko if: Application.isLoggedIn -->
        	<textarea class="input-xlarge" placeholder="Добави коментар" data-bind="value: newCommentText"></textarea>
        	<button class="btn btn-primary" data-bind="click: addComment">Добави</button>
        	<!-- /ko -->
        	<!-- ko ifnot: Application.isLoggedIn -->
        	<h3 style="font-size: 15px">Влезте в системата, за да коментирате</h3>
        	<!-- /ko -->
        </div>
    </div>
</div>

<div class="calendar-container">
	<div class="calendar-wrapper" data-bind="component: calendar"></div>
</div>