<div class="events-list">
	<ul class="event-list">
	<!-- ko foreach: events -->
		<li>
			<a href="#" class="thumbnail">
				<h3 data-bind="text: name"></h3>
				<p data-bind="text: description"></p>
			</a>
		</li>
	<!-- /ko -->
	</ul>
</div>

<div class="event-container border-panel">
	<h3 data-bind="text: event().name"></h3>

	<p data-bind="text: event().description"></p>

	<strong>Date: 12.12.2012</strong>
</div>

<div class="calendar-container">
	<div class="calendar-wrapper" data-bind="component: calendar"></div>
</div>