// @import 'http://fonts.googleapis.com/css?family=Raleway:500,700italic,700,400';
@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=latin,cyrillic');
@import 'calendar.less';

html, body {
	// font-family: 'Raleway';
	font-family: 'Ubuntu';
	height: 100%;
}

header {

}

.container {
	width: 100%;
	height: 100%;
}

#vertical-event-list {
	position: absolute;
	width: 100%;
	height: 200px;
	bottom: 0;
	left: 0;
	list-style: none;
	margin: 0;

	&> li {
		float: left;
		border-right: 1px;
		width: percentage(1/4);
		height: 100%;
	}
}