@import 'http://fonts.googleapis.com/css?family=Raleway:500,700italic,700,400';
@import 'calendar.less';

html, body {
	font-family: 'Raleway';
	height: 100%;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
}