// @import 'http://fonts.googleapis.com/css?family=Raleway:500,700italic,700,400';
@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=latin,cyrillic');
@import 'calendar.less';

html, body {
	// font-family: 'Raleway';
	font-family: 'Ubuntu';
	height: 100%;
}

header {

}

.container {
	width: 100%;
	height: 100%;
}